<div class="headerUtility">
  <ul>
    <li id="login-bar"></li>
    <li>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</div>
<%= render :partial => 'spree/shared/store_menu' %>
