<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag products_url, :method => :get do %>
  <div style="float:left; width:140px;">
    <%= select_tag :taxon,
        options_for_select([[t(:all_departments), '']] +
                              @taxons.map {|t| [t.name, t.id]},
                              @taxon ? @taxon.id : params[:taxon]) %>
  </div>
  <div style="float:left; width:160px;"><%= search_field_tag :keywords, params[:keywords], :placeholder => t(:search) %></div>
  <div style="float:left; width:25px;"><%= submit_tag t(:search), :name => nil, :class => 'headerSearch' %></div>
<% end %>
